<div class="user-details">
  <h1> Recent Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Championship Analytics" src="{{ "/assets/img/CAI.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>CAI Referee Dashboard</h3>
    <p>Built a Power BI dashboard that analyzes penalty rates among referees, teams, and conferences for the purpose of scouting and game preparation. This end-to-end project involved web scraping referee assignment data, transforming and cleaning multiple data sources, and loading them into a comprehensive Power BI dashboard. The dashboard is directly utilized by college football teams for analysis and game-planning, providing coaching staffs with critical insights on referee calling patterns, opponent penalty tendencies, and situational penalty rates to inform strategic decision-making during weekly preparation.</p>
    <a class="project-link" href="https://www.championshipanalytics.com/cai-penalty-analysis-dashboard/">View Dashboard</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="NPI Dashboard" src="{{ "/assets/img/soccer.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Division 3 Women's Soccer NPI Dashboard</h3>
    <p>Developed a web application that automatically calculates NCAA Division III Women's Soccer NPI ratings throughout the season and tests future NPI changes with manually inputted results. This tool, which is currently being utilized by teams, provides real-time NPI calculations before the official NPI ratings are released, giving teams a strategic advantage in understanding their current standing and planning for upcoming games.</p>
    <a class="project-link" href="https://d3-womens-soccer-npi.streamlit.app/">View App</a>
  </div>
</div>
